$page-width: 80%;
$page-width-mobile: 90%;
$primary-color: #008b8b;
$mobile: 600px;

body {
    top: 0;
    bottom: 0;
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color:$primary-color;
    color:#efefef;
    padding: 5px 0;
    height: 50px;
    .inner-wrapper{
        width: $page-width;
        margin: 0 auto;
        @media only screen and (max-width: $mobile) {
            width: $page-width-mobile;
        }
    }
    h1 {
        padding: 0;
        margin: 0;
        width: 50%;
        float:left;
        line-height: 50px;
    }
    .navigation{
        float: right;
        line-height: 50px;
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-left: 15px;
            &:hover{
                color:black;
            }
        }

    }
}

main{
    width: $page-width;
    margin: 20px auto 50px auto;
    @media only screen and (max-width: $mobile) {
        width: $page-width-mobile;
    }
    .quiz-wrapper {
        .question-wrapper{
            p {
                font-weight: bold;
                color:#707070;
                margin-bottom:20px;

                &.question-word{
                    font-size: 18px;
                    margin-bottom:0;
                    color:#1f1e1e;
                    margin-top:0;
                }

                &.question-tense {
                    color:$primary-color;
                    font-size:12px;
                    margin-top:0;
                }
            }
        }
        
        .answer-wrapper {
            .answer-field {
                display:inline-block;
                padding:5px;
                padding: 10px;
                font-weight: bold;
                font-size: 16px;
                margin-right: 10px;
                @media only screen and (max-width: $mobile) {
                    width: 100%;
                    margin-right: 0;
                }
            }
            .multiple-choice-options-wrapper {
                margin-top: 10px;
                label {
                    margin-left: 5px;
                }
            }
            .result {
                display:inline-block;
                font-weight: bold;
                @media only screen and (max-width: $mobile) {
                    height: 35px;
                    line-height: 30px;
                }
                .result-success {
                    color:green;
                }
                .result-fail {
                    color: red;
                }
                
            }
        }
        
        .submit-wrapper{
            margin-top:20px;
            @media only screen and (max-width: $mobile) {
                display: flex;
                flex-wrap: nowrap;
                margin-top: 0;
            }
            
            .check-answer-button {
                border-radius: 5px;
                background-color: $primary-color;
                border-radius: 7px;              
                color: white;
                border: 0;
                padding: 8px 15px;
                cursor: pointer;
                &:hover{
                    opacity: 0.9;
                }
                @media only screen and (max-width: $mobile) {
                    width: 48%;
                    margin-right:2%;
                }
            }
            .refresh-button {
                border-radius: 5px;
                background-color: #707070;
                border-radius: 7px;              
                color: white;
                border: 0;
                padding: 8px 15px;
                cursor: pointer;
                &:hover{
                    opacity: 0.9;
                }
                @media only screen and (max-width: $mobile) {
                    width: 48%;
                    margin-left:2%;
                }
            }
        }
    }

    .word-list-wrapper {
        margin: 50px auto 50px auto;
        border: 1px solid #222222;

        .word-list-wrapper-header {
            position: sticky;
            top: 0;
            font-weight:bold;
            .word-row {
                background-color:$primary-color;
                color:#ececec;
            }
        }

        .word-row {
            display: flex;
            flex-wrap: nowrap;
            color:#303030;

            &:nth-child(even) {
                background-color:#ececec;
            }

            .word-cell {
                width:20%;
                font-size: 16px;
                padding: 5px;
                @media only screen and (max-width: $mobile) {
                    font-size: 12px;
                }
            }
        }
    }
}
