$page-width: 80%;
$page-width-mobile: 90%;
$primary-color: #008b8b;
$secondary-color:#4B0082;
$mobile: 800px;

body {
    top: 0;
    bottom: 0;
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color:$primary-color;
    color:#efefef;
    padding: 5px 0;
    height: 50px;

    .inner-wrapper{
        width: $page-width;
        margin: 0 auto;
        @media only screen and (max-width: $mobile) {
            width: $page-width-mobile;
        }
    }
    h1 {
        padding: 0;
        margin: 0;
        float:left;
        line-height: 50px;
        @media only screen and (max-width: $mobile) {
            width: $page-width-mobile;
            line-height: 25px;
            white-space: nowrap;
            font-size: 18px;
        }
    }
    .navigation{
        float: right;
        line-height: 50px;
        
        @media only screen and (max-width: $mobile) {
            float:none;
            line-height: unset;
        }

        a {
            text-decoration: none;
            color: #ececec;
            font-weight: bold;
            margin-left: 15px;
            @media only screen and (max-width: $mobile) {
                font-size: 10px;
                margin-right: 15px;
                margin-left: 0;
            }
            &:hover{
                color:black;
            }
        }

    }
}

main{
    width: $page-width;
    margin: 20px auto 50px auto;

    @media only screen and (max-width: $mobile) {
        width: $page-width-mobile;
    }

    .quiz-wrapper {
        .question-wrapper{
            p {
                font-weight: bold;
                color:#707070;
                margin-bottom:20px;

                .question-word{
                    font-size: 18px;
                    margin-bottom:0;
                    color:#1f1e1e;
                    margin-top:0;
                }

                .question-tense {
                    color:$primary-color;
                    font-size:18px;
                    margin-top:0;
                }

              
            }
        }

        .answer-wrapper {
            .answer-field {
                display:inline-block;
                padding:5px;
                padding: 10px;
                font-weight: bold;
                font-size: 16px;
                margin-right: 10px;
                @media only screen and (max-width: $mobile) {
                    width: 100%;
                    margin-right: 0;
                }
            }
            .multiple-choice-options-wrapper {
                margin-top: 10px;
                label {
                    margin-left: 5px;
                }
            }
            .result {
                display:inline-block;
                font-weight: bold;
                @media only screen and (max-width: $mobile) {
                    height: 35px;
                    line-height: 30px;
                }
                .result-success {
                    color:green;
                }
                .result-fail {
                    color: red;
                }
                
            }
        }
        
        .submit-wrapper{
            margin-top:20px;
            @media only screen and (max-width: $mobile) {
                display: flex;
                flex-wrap: nowrap;
                margin-top: 0;
            }
            
            .check-answer-button {
                border-radius: 5px;
                background-color: $primary-color;
                border-radius: 7px;              
                color: white;
                border: 0;
                padding: 8px 15px;
                cursor: pointer;
                &:hover{
                    opacity: 0.9;
                }
                @media only screen and (max-width: $mobile) {
                    width: 48%;
                    margin-right:2%;
                }
            }
            .refresh-button {
                border-radius: 5px;
                background-color: #707070;
                border-radius: 7px;              
                color: white;
                border: 0;
                padding: 8px 15px;
                cursor: pointer;
                &:hover{
                    opacity: 0.9;
                }
                @media only screen and (max-width: $mobile) {
                    width: 48%;
                    margin-left:2%;
                }
            }
        }
    }

    .prepositie-wrapper{
        margin-top:20px;
        width: 30%;
        display: inline-block;
        @media only screen and (max-width: $mobile) {
            width: 100%;
        }
        h3{
            color:$primary-color;
        }
        p{
            color: #707070;
        }
    }

    .word-list-wrapper {
        margin: 50px auto 50px auto;
        border: 1px solid #222222;

        .word-list-wrapper-header {
            position: sticky;
            top: 0;
            font-weight:bold;
            .word-row {
                background-color:$primary-color;
                color:#ececec;
            }
        }

        .word-row {
            display: flex;
            flex-wrap: nowrap;
            color:#303030;

            &:nth-child(even) {
                background-color:#ececec;
            }

            .word-cell {
                width:20%;
                font-size: 16px;
                padding: 5px;
                @media only screen and (max-width: $mobile) {
                    font-size: 12px;
                }
            }
        }
    }

    .phrase-wrapper {
        table{
            width: 100%;
            max-width: 600px;
            border: 1px solid $primary-color;
            border-spacing:0;
            th {
                background-color: $primary-color;
                border: 1px solid $primary-color;
                width: 50%; 
                padding: 5px; 
                color: white;
            }
            td {
                text-align: center;
                border: 1px solid #ececec;
                padding: 5px; 

            }
        }
    }

    .flash-cards-wrapper {
        margin-top:20px;
        width: 30%;
        position:relative;

        @media only screen and (max-width: $mobile) {
            width: 100%;
        }

        .card-wrapper {
            min-height: 250px;

            .card {
                color: white;
                width: 350px;
                text-align: center;

                .card-front {
                    background-color: $primary-color;
                    border-radius:10px;
                    padding: 40px 0 40px;
                    box-shadow: black 2px 2px 5px;

                }

                .card-back {
                    background-color: $secondary-color;
                    border-radius:10px;
                    padding: 40px 0 40px;
                    box-shadow: black 2px 2px 5px;
                }

                .hide {
                    display:none;
                }

                @media only screen and (max-width: $mobile) {
                    width: 100%;
                }

                h2 {
                    padding:0;
                    margin: 0 10px;
                    font-size: 40px;
                    hyphens: auto; /* Enable automatic hyphenation */
                    overflow-wrap: break-word; /* Fallback option */
                }

                p {
                    padding:0;
                    margin:0;

                    &.sentence{
                        margin: 45px 15px 0;
                        font-style: italic;
                    }
                }
            }
        }

        .submit-wrapper {
            height: 50px;
            margin-top:30px;

            .refresh-button {
                border-radius: 5px;
                background-color: #707070;
                border-radius: 7px;              
                color: white;
                border: 0;
                padding: 8px 15px;
                cursor: pointer;
                width: 350px;
    
                &:hover {
                    opacity: 0.9;
                }
    
                @media only screen and (max-width: $mobile) {
                    width: 100%;
                }
            }
        }
    }

}
